<h1>Done</h1>
<h3>El registro fue almacenado con exito!</h3>
<%= link_to 'Volver', sales_new_path %>

<% @sales.each do |p| %>
  <div class="product">
    <h3> codigo: <%= p.cod %> </h3>
    <p> detalle: <%= p.detail %> </p>
    <p> Categoria: <%= p.category %> </p>
    <p> valor: <%= p.value %> </p>
    <p> descuento: <%= p.discount %> </p>
    <p> impuesto: <%= p.tax %> </p>
    <h4> Total: <%= p.total %> </h4>
  </div>
<% end %>
